<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yww.blog.mapper.UserRoleMapper">

    <select id="getRoleId" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT role_id FROM sys_user_role WHERE user_id = #{userId} LIMIT 1
    </select>
    <select id="getRoleName" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT name
        FROM sys_user_role sur LEFT JOIN sys_role sr on sur.role_id = sr.id
        WHERE user_id = #{userId} LIMIT 1
    </select>

</mapper>
